<a href="https://colab.research.google.com/github/ArpitMishra298/machine-learning-lab/blob/main/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

count number of spaces in string

In [ ]:

def check_space(string):
	
	
	count = 0
	

	for i in range(0, len(string)):
		
		
		if string[i] == " ":
			count += 1
		
	return count


string = "my name   is   Arpit"


print("number of spaces ",check_space(string))

number of spaces  7

print table of 5

In [ ]:
num = 5


for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

count number of 6 between 1 to 1000

In [ ]:
count = sum(str(i).count('6') for i in range(1, 1001))
print("The number of sixes between 1 and 1000 is:", count)

The number of sixes between 1 and 1000 is: 300

find number between 1 to 1000 divisible by 2 and 5

In [ ]:
lower = int(input("Enter lower range limit:"))
upper = int(input("Enter upper range limit:"))
for i in range(lower, upper+1):
   if((i%2==0) & (i%5==0)):
      print(i)

Enter lower range limit:1
Enter upper range limit:1000
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000

square of natural number 1 to 10

In [ ]:
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]